Repository formancehq/helm, pull requests merged in 2024-10, with the labels that each got.

#31 refactor(workflows): update release and PR workflows
  .github/actions/earthly/base/action.yaml
  .github/actions/earthly/pre-commit/action.yaml
  .github/actions/github/dirty/action.yaml
  .github/actions/helm/anychart/action.yml
  .github/actions/helm/package/action.yaml
  .github/actions/helm/publish/action.yaml
  .github/actions/helm/validate/action.yaml
  .github/workflows/dependencies.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Earthfile
Labels: feature, chart-cloudprem, chart-console, chart-core, chart-demo, chart-membership, chart-portal, chart-stargate

#32 chore: clean comments and docs
  .github/workflows/pull_request.yml
  .gitignore
  CONTRIBUTING.md
  Earthfile
  README.md
  charts/Earthfile
  charts/cloudprem/Earthfile
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/cloudprem/build/config.json
  charts/cloudprem/build/mmd/controlplane.mmd
  charts/cloudprem/controlplane.svg
  charts/console/Earthfile
  charts/core/Earthfile
  charts/demo/Earthfile
  charts/membership/Earthfile
  charts/portal/Earthfile
  charts/stargate/Earthfile
  test/helm/suite/cloudprem_test.go
  test/helm/suite/console_test.go
  test/helm/suite/global_test.go
  test/helm/suite/main_test.go
  tools/readme/assets/readme.tpl
Labels: docs, feature

#33 feat: add release target
  .github/workflows/release.yml
  Earthfile
  charts/Earthfile
  charts/cloudprem/Earthfile
  charts/console/Earthfile
  charts/core/Earthfile
  charts/core/README.md
  charts/demo/Earthfile
  charts/membership/Earthfile
  charts/portal/Earthfile
  charts/stargate/Earthfile
  test/helm/Earthfile
  tools/readme/Earthfile
Labels: docs, feature

#34 fix: release
  .github/workflows/release.yml
Labels: bug, release

#36 feat: copy agent charts
  README.md
  charts/Earthfile
  charts/agent/.gitignore
  charts/agent/.helmignore
  charts/agent/Chart.yaml
  charts/agent/Earthfile
  charts/agent/README.md
  charts/agent/templates/_helpers.tpl
  charts/agent/templates/clusterrole.yaml
  charts/agent/templates/clusterrolebinding.yaml
  charts/agent/templates/deployment.yaml
  charts/agent/templates/serviceaccount.yaml
  charts/agent/values.schema.json
  charts/agent/values.yaml
Labels: docs, feature, release

#41 feat: membership without pg
  CODEOWNERS
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/core/templates/_postgres.tpl
  charts/membership/Chart.lock
  charts/membership/Chart.yaml
  charts/membership/templates/_helpers.tpl
  charts/membership/values.yaml
  test/helm/suite/membership_test.go
Labels: docs, feature, release

#39 feat: add aws tgb
  Earthfile
  README.md
  charts/Earthfile
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/Earthfile
  charts/cloudprem/README.md
  charts/cloudprem/values.schema.json
  charts/cloudprem/values.yaml
  charts/console/Chart.lock
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/templates/tgb.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
  charts/core/Chart.yaml
  charts/core/Earthfile
  charts/core/README.md
  charts/membership/Chart.lock
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/templates/configmap.yaml
  charts/membership/templates/deployment.yaml
  charts/membership/templates/tgb.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
  charts/portal/Chart.lock
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/tgb.yaml
  charts/portal/values.schema.json
  charts/portal/values.yaml
  charts/regions/README.md
  charts/stargate/Chart.lock
  charts/stargate/Chart.yaml
  charts/stargate/README.md
  charts/stargate/templates/tgb.yaml
  charts/stargate/values.yaml
  test/helm/Earthfile
  test/helm/suite/cloudprem_test.go
  test/helm/suite/global_test.go
  tools/readme/Earthfile
  tools/readme/assets/contributing.tpl
Labels: docs, feature, release

#43 feat: add console membership pdp
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/pdp.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/pdp.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
Labels: docs, feature, release

#44 fix: release
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Earthfile
Labels: bug, release

#45 feat: add missing hpa
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/hpa.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/hpa.yaml
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/hpa.yaml
  charts/portal/values.schema.json
  charts/portal/values.yaml
Labels: docs, feature, release

#48 ci: push package on OCI
  .github/workflows/published.yml
  .gitignore
  Earthfile
  tools/readme/Earthfile
  tools/readme/main.go
Labels: bug, release

#46 feat: add membership cronjob(garbage collector, stack cycles) and job(init nats publisher)
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console/Chart.lock
  charts/console/Chart.yaml
  charts/console/README.md
  charts/core/Chart.yaml
  charts/core/README.md
  charts/core/templates/_broker.tpl
  charts/membership/Chart.lock
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/templates/cronjob-gc.yaml
  charts/membership/templates/cronjob-stack-lifeycle.yaml
  charts/membership/templates/deployment.yaml
  charts/membership/templates/job.yaml
  charts/membership/templates/service.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
  charts/portal/Chart.lock
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/stargate/Chart.lock
  charts/stargate/Chart.yaml
  charts/stargate/README.md
  charts/stargate/values.schema.json
  charts/stargate/values.yaml
  test/helm/suite/cloudprem_test.go
  test/helm/suite/global_test.go
  test/helm/suite/membership_test.go
Labels: docs, feature, release

#47 docs: add feature profiles
  README.md
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/cloudprem/profiles/1-minimal.yaml
  charts/cloudprem/profiles/10-optional-job-garbage-collector.yaml
  charts/cloudprem/profiles/2-map-all-secrets.yaml
  charts/cloudprem/profiles/3-external-postgresql.yaml
  charts/cloudprem/profiles/4-aws-membership-iam.yaml
  charts/cloudprem/profiles/5-aws-target-group-binding.yaml
  charts/cloudprem/profiles/6-optional-events-managed-stacks.yaml
  charts/cloudprem/profiles/7-optional-events-action.yaml
  charts/cloudprem/profiles/8-optional-nats-secrets.yaml
  charts/cloudprem/profiles/9-optional-job-stack-life-cycle.yaml
  charts/cloudprem/profiles/aws.yaml
Labels: docs, feature, release

#51 fix: multi service account
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/templates/job.yaml
  charts/membership/templates/job_sa.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
Labels: bug, docs, release

#52 fix: missing volume & volumeMount
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/cronjob-gc.yaml
  charts/membership/templates/cronjob-stack-lifeycle.yaml
  charts/membership/templates/job.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
Labels: bug, docs, release

#53 fix: missing username when using pg iam
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console/Chart.lock
  charts/console/Chart.yaml
  charts/console/README.md
  charts/core/Chart.yaml
  charts/core/README.md
  charts/core/templates/_postgres.tpl
  charts/membership/Chart.lock
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/portal/Chart.lock
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/stargate/Chart.lock
  charts/stargate/Chart.yaml
  charts/stargate/README.md
Labels: bug, docs, release

#54 fix: volumes and refacto readme
  .earthlyignore
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .gitignore
  Earthfile
  README.md
  assets/templates/contributing.tpl
  assets/templates/readme.tpl
  charts/Earthfile
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/profiles/2-map-all-secrets.yaml
  charts/cloudprem/values.yaml
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/deployment.yaml
  tools/readme/Earthfile
  tools/readme/main.go
Labels: docs, feature, release

#55 feat: add job ttl
  Earthfile
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/profiles/4-aws-membership-iam.yaml
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/job.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
Labels: bug, docs, release

#56 feat: add migration pg user
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/templates/job.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
Labels: docs, feature, release

#57 feat: optional storage default config
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/values.schema.json
  charts/membership/values.yaml
Labels: docs, feature, release

#58 feat: make helm hook optional and managed
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/templates/job.yaml
  charts/membership/templates/job_sa.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
  charts/stargate/Chart.yaml
  charts/stargate/README.md
  charts/stargate/templates/deployment.yaml
  charts/stargate/values.schema.json
  charts/stargate/values.yaml
Labels: docs, feature, release

#60 chore: update chart and dependencies versions
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#61 feat: cloudprem additional env
  Earthfile
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/values.schema.json
  charts/console/values.yaml
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/values.schema.json
  charts/membership/values.yaml
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
  charts/portal/values.schema.json
  charts/portal/values.yaml
  test/helm/Earthfile
Labels: docs, feature, release

#63 feat: Update regions
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: docs, feature, release

#62 feat: upgrade console & portal; fix: portal aws port binding
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/values.yaml
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/values.yaml
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/values.yaml
  charts/stargate/Chart.yaml
  charts/stargate/README.md
  charts/stargate/values.yaml
Labels: docs, feature, release

#65 feat: add namespace
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console/Chart.lock
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/deployment.yaml
  charts/console/templates/service.yaml
  charts/core/Chart.yaml
  charts/core/README.md
  charts/core/templates/_aws-tgb.tpl
  charts/core/templates/_hpa.tpl
  charts/core/templates/_ingress.tpl
  charts/core/templates/_pdp.tpl
  charts/core/templates/_serviceAccount.tpl
  charts/membership/Chart.lock
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/configmap.yaml
  charts/membership/templates/cronjob-gc.yaml
  charts/membership/templates/cronjob-stack-lifeycle.yaml
  charts/membership/templates/deployment.yaml
  charts/membership/templates/dex/secret.yaml
  charts/membership/templates/ingress.yaml
  charts/membership/templates/job.yaml
  charts/membership/templates/job_sa.yaml
  charts/membership/templates/service.yaml
  charts/portal/Chart.lock
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/deployment.yaml
  charts/portal/templates/service.yaml
  charts/stargate/Chart.lock
  charts/stargate/Chart.yaml
  charts/stargate/README.md
Labels: docs, feature, release

#66 fix: portal tag
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/values.yaml
Labels: bug, docs, release

#67 fix: portal tag
  Earthfile
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/deployment.yaml
  tools/readme/Earthfile
Labels: bug, docs, release

#68 feat(console and portal): use core lib for monitoring
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console/Chart.lock
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/values.schema.json
  charts/console/values.yaml
  charts/core/Chart.yaml
  charts/core/README.md
  charts/core/templates/_helpers.tpl
  charts/core/templates/_monitoring.tpl
  charts/core/templates/_service.tpl
  charts/membership/Chart.lock
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/values.yaml
  charts/portal/Chart.lock
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
  charts/portal/values.schema.json
  charts/portal/values.yaml
  charts/stargate/Chart.lock
  charts/stargate/Chart.yaml
  charts/stargate/README.md
  charts/stargate/values.schema.json
  charts/stargate/values.yaml
Labels: docs, feature, release
