Repository formancehq/helm, pull requests merged in 2025-06, with the labels that each got.

#168 chore: update ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#169 chore: upgrade ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release

#172 chore: Upgrade payments to v3.0.15
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release

#174 feat: publish dev build
  .github/workflows/pull_request.yml
  Justfile
Labels: feature, release

#177 fix: specify the version of helm-values-schema-json helm plugin as the v2.0.0 has breaking change
  charts/Earthfile
Labels: bug, release

#178 fix: upgrade wallets
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#179 chore: update ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#173 feat(membership): add login with sso
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/values.schema.json
  charts/membership/values.yaml
Labels: docs, feature, release
