Repository formancehq/helm, pull requests merged in 2025-08, with the labels that each got.

#202 fix(operator-utils): is packaged at the same time as operator not versions
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.schema.json
  charts/regions/values.yaml
Labels: bug, docs, release

#203 fix(operator): ultis-version flag is mandatory
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: bug, docs, release

#196 feat: upgrade ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#204 feat: update console-v3+portal (v1.12.3)
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
Labels: docs, feature, release

#207 feat(cloudprem): upgrade membership to v1.11.0
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
Labels: docs, feature, release

#210 release(regions): auth 2.3.0
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release
