Repository formancehq/helm, pull requests merged in 2025-01, with the labels that each got.

#89 fix(console-v3): pre-release
  .local/build.sh
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console-v3/values.yaml
Labels: bug, docs, release

#92 fix(cloudprem): old dex img
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/values.yaml
Labels: bug, docs, release

#93 feat: add annotations for rollout
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console-v3/templates/deployment.yaml
  charts/console-v3/values.schema.json
  charts/console-v3/values.yaml
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/deployment.yaml
  charts/console/values.schema.json
  charts/console/values.yaml
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/deployment.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/deployment.yaml
  charts/portal/values.schema.json
  charts/portal/values.yaml
Labels: docs, feature, release

#96 fix(cloudprem): console-v3 is not enabled by default
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
Labels: docs, feature, release

#97 feat(regions): Update Helm chart to version 2.8.2
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#94 feat(cloudprem): v3.0.0-rc.0
  .local/build.sh
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/cloudprem/values.schema.json
  charts/cloudprem/values.yaml
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console-v3/templates/_helpers.tpl
  charts/console-v3/values.schema.json
  charts/console-v3/values.yaml
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/values.schema.json
  charts/console/values.yaml
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/templates/configmap.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
  charts/portal/values.schema.json
  charts/portal/values.yaml
  test/helm/suite/cloudprem_test.go
  test/helm/suite/console_test.go
Labels: docs, feature, release

#98 fix(cloudprem): handle case when console has a client within the values
  README.md
  assets/templates/readme.tpl
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/configmap.yaml
Labels: bug, docs, release

#99 fix(membership): v3.0.0.rc.3, invitation expired job name
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/cronjob-gc-invitation.yaml
Labels: bug, docs, feature, release

#100 fix(membership): args on multiple line
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/cronjob-gc-invitation.yaml
  charts/membership/templates/cronjob-gc.yaml
Labels: bug, docs, release
