Repository formancehq/helm, pull requests merged in 2025-05, with the labels that each got.

#148 feat: update payments to v3.0.14
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#149 chore: use https git clone
  Justfile
Labels: bug, release

#152 chore: use chart release go code
  Justfile
Labels: bug, release

#153 fix(releaser): chart releaser install step
  .github/workflows/release_published.yml
  Justfile
Labels: bug, release

#155 feat: upgrade ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#156 fix: rollback ledger, build are currelty failing
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: bug, docs, release

#157 feat: update ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: bug, docs, release

#159 chore: expose metrics configuration
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/values.schema.json
  charts/cloudprem/values.yaml
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/values.schema.json
  charts/membership/values.yaml
Labels: docs, feature, release

#160 chore: update v2 version of payments
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release

#161 feat: console v3 & portal v1.7.0
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
Labels: docs, feature, release

#162 feat: upgrade ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release
