Repository formancehq/helm, pull requests merged in 2025-04, with the labels that each got.

#129 feat: update to v2.15.14
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#130 chore: upgrade ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release

#131 fix: operator module deletion
  README.md
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: bug, docs, release

#132 chore: update ledger under v2.2.26
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release

#133 fix: update ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release

#135 chore: update ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release

#137 chore: update ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release

#139 feat(regions): upgrade operator deps
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: docs, feature, release

#140 feat(cp2): upgrade UIs
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console/Chart.yaml
  charts/console/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
Labels: docs, feature

#141 feat: update ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#142 chore: upgrade ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#143 feat: update ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release

#144 feat: upgrade portal + console-v3 versions
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
Labels: docs, feature, release

#145 fix(core): add pod name as discriminating OTEL resource attribute
  README.md
  charts/agent/Chart.lock
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/agent/templates/_helpers.tpl
  charts/agent/values.schema.json
  charts/agent/values.yaml
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.lock
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console-v3/templates/_helpers.tpl
  charts/console/Chart.lock
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/core/Chart.yaml
  charts/core/README.md
  charts/core/templates/_monitoring.tpl
  charts/core/templates/_service.tpl
  charts/membership/Chart.lock
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/templates/job.yaml
  charts/portal/Chart.lock
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/stargate/Chart.lock
  charts/stargate/Chart.yaml
  charts/stargate/README.md
Labels: docs, feature, release

#146 chore: use nix just
  .envrc
  .github/actions/default/action.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_published.yml
  .local/build.sh
  Earthfile
  Justfile
  README.md
  charts/demo/Chart.yaml
  charts/demo/README.md
  flake.lock
  flake.nix
  test/helm/Earthfile
  test/helm/go.mod
  test/helm/suite/cloudprem_test.go
  test/helm/suite/membership_test.go
  tools/readme/Earthfile
  tools/readme/go.mod
Labels: docs, feature, release

#147 feat: update ledger
  Justfile
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, feature, release
