Repository formancehq/helm, pull requests merged in 2025-03, with the labels that each got.

#118 feat: Upgrade Cloudprem version
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
Labels: docs, feature, release

#119 feat: upgrade regions chart
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/Earthfile
  charts/regions/README.md
  charts/regions/README.md.gotmpl
  charts/regions/values.schema.json
  charts/regions/values.yaml
Labels: docs, feature, release

#120 feat: upgrade operator chart
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: docs, feature, release

#121 fix(portal, console-v2, console-v3): API_STACK_URL is required
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/values.schema.json
  charts/cloudprem/values.yaml
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console-v3/templates/_helpers.tpl
  charts/console-v3/values.schema.json
  charts/console-v3/values.yaml
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/values.schema.json
  charts/console/values.yaml
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
  charts/portal/values.schema.json
  charts/portal/values.yaml
Labels: bug, docs, feature, release

#122 fix(portal): missing APPS_CONSOLE_V3 env var
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/values.yaml
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
  charts/portal/values.schema.json
  charts/portal/values.yaml
Labels: bug, docs, feature, release

#123 fix: portal, console-v3, console cookie size
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console-v3/templates/_helpers.tpl
  charts/console-v3/values.schema.json
  charts/console-v3/values.yaml
  charts/console/Chart.yaml
  charts/console/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
  charts/portal/values.schema.json
  charts/portal/values.yaml
Labels: bug, docs, release

#125 fix: gateway ingress annotations
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: bug, docs, release

#124 feat: add external idp profile
  charts/cloudprem/profiles/12-membership-external-oauth-identity-provider.yaml
Labels: feature, release

#126 feat: upgrade operator
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: bug, docs, release
