Repository formancehq/helm, pull requests merged in 2025-02, with the labels that each got.

#101 fix(cloudprem): make console-v3 and portal cookie name configurable
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console-v3/templates/_helpers.tpl
  charts/console-v3/values.schema.json
  charts/console-v3/values.yaml
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
  charts/portal/values.schema.json
  charts/portal/values.yaml
Labels: bug, docs, release

#102 fix(cloudprem): make portal cookie name configurable
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
Labels: bug, docs, release

#103 feat(membership): ability to disable migration job
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/job.yaml
  charts/membership/values.schema.json
  charts/membership/values.yaml
Labels: docs, feature, release

#104 fix(portal): configure portal cookie only on portal domain
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
Labels: bug, docs, release

#105 fix(portal): add CONSOLE_COOKIE_DOMAIN
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
Labels: bug, docs, release

#108 feat(membership): release 1.1.1
  .local/build.sh
  Earthfile
  README.md
  assets/templates/readme.tpl
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/membership/Chart.yaml
  charts/membership/README.md
  tools/readme/Earthfile
  tools/readme/main.go
Labels: docs, release

#109 feat: Update regions chart to version 2.9.0
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.schema.json
  charts/regions/values.yaml
Labels: docs, feature, release

#110 fix(agent): can't disable stargate
  README.md
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: bug, docs, release

#107 feat(SecretManagement): migrate secrets to AWS SM
  README.md
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/agent/templates/_helpers.tpl
  charts/agent/values.schema.json
  charts/agent/values.yaml
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: docs, feature, release

#111 feat(licence): add helper on membership and stargate
  .local/build.sh
  README.md
  charts/agent/Chart.lock
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.lock
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console/Chart.lock
  charts/console/Chart.yaml
  charts/console/README.md
  charts/core/Chart.yaml
  charts/core/README.md
  charts/core/templates/_licence.tpl
  charts/membership/Chart.lock
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/_helpers.tpl
  charts/membership/templates/cronjob-gc-invitation.yaml
  charts/membership/templates/cronjob-gc.yaml
  charts/membership/templates/cronjob-stack-lifeycle.yaml
  charts/membership/templates/job.yaml
  charts/portal/Chart.lock
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/stargate/Chart.lock
  charts/stargate/Chart.yaml
  charts/stargate/README.md
  charts/stargate/templates/deployment.yaml
Labels: docs, feature, release

#112 feat(SecretManagement): change the value to migrate secrets to AWS SM
  charts/agent/templates/_helpers.tpl
  charts/agent/values.yaml
Labels: feature, release

#114 fix(licence): make disablable
  README.md
  charts/agent/Chart.lock
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.lock
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/console/Chart.lock
  charts/console/Chart.yaml
  charts/console/README.md
  charts/core/Chart.yaml
  charts/core/README.md
  charts/core/templates/_licence.tpl
  charts/membership/Chart.lock
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/portal/Chart.lock
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/stargate/Chart.lock
  charts/stargate/Chart.yaml
  charts/stargate/README.md
Labels: bug, docs, release

#115 fix(membership): missing licence env on stream init
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/values.yaml
  charts/core/templates/_licence.tpl
  charts/membership/Chart.yaml
  charts/membership/README.md
  charts/membership/templates/job.yaml
  charts/membership/values.yaml
  charts/stargate/Chart.yaml
  charts/stargate/README.md
  charts/stargate/values.yaml
Labels: bug, docs, release

#116 fix(console): move object values
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/README.md.gotmpl
  charts/console/Chart.yaml
  charts/console/README.md
  charts/console/templates/_helpers.tpl
  charts/console/values.schema.json
  charts/console/values.yaml
  charts/portal/Chart.yaml
  charts/portal/README.md
  charts/portal/templates/_helpers.tpl
  charts/portal/values.schema.json
  charts/portal/values.yaml
  test/helm/suite/console_test.go
Labels: bug, docs, feature, release

#117 feat: upgrade regions
  README.md
  charts/agent/Chart.yaml
  charts/agent/README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: docs, feature, release
