Repository formancehq/helm, pull requests merged in 2025-07, with the labels that each got.

#186 fix: cloudprem 3.7.2
  Justfile
  README.md
  charts/agent/values.schema.json
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/cloudprem/values.schema.json
  charts/console-v3/values.schema.json
  charts/console/values.schema.json
  charts/core/values.schema.json
  charts/demo/values.schema.json
  charts/membership/values.schema.json
  charts/portal/values.schema.json
  charts/regions/values.schema.json
  charts/stargate/values.schema.json
Labels: bug, docs, release

#187 chore: upgrade regions
  README.md
  charts/regions/Chart.lock
  charts/regions/Chart.yaml
  charts/regions/README.md
Labels: docs, release

#190 feat: console v3 & portal (v1.9.0)
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
Labels: docs, feature, release

#195 chore: upgrade ledger
  README.md
  charts/regions/Chart.yaml
  charts/regions/README.md
  charts/regions/values.yaml
Labels: docs, release

#199 feat: console v3 & portal (v1.11.0)
  README.md
  charts/cloudprem/Chart.lock
  charts/cloudprem/Chart.yaml
  charts/cloudprem/README.md
  charts/console-v3/Chart.yaml
  charts/console-v3/README.md
  charts/portal/Chart.yaml
  charts/portal/README.md
Labels: docs, feature, release
